{% extends './base.html' %}
{% block title %} Edit Auction {% endblock %}

{% block link %}
	<link href="{{STATIC_URL}}css/datepicker.css" rel="stylesheet">
{% endblock%}

{% block content %}
	<h4>Edit Auction</h4>
	<form action="." method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="btn btn-small ">Guardar</button>
		<button type="reset" class="btn btn-small ">Limpiar</button>
	</form>
	<br>
	{{ message }}
	<br>
	<a class="btn" href="/auctions/page/1/">Return to the list</a>
{% endblock %}

{% block script %}
	<script>
		$(function() {
		$("#id_Hour").datepicker({
				weekStart: 1,
			});
		});
	</script>
{% endblock%}