<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %} Titulo Base {% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="" content="">
	<meta name="@jalfaroe" content="">

	<!-- Le styles -->
	<link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/stylesheet.css" rel="stylesheet"></head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="{% url 'index_view' %}">Live Auction</a>

				<div class="nav-collapse">
					<ul class="nav">
						<li class="active">
							<a href="{% url 'index_view' %}"> <i class="icon-home icon-white"></i>
								Home
							</a>
						</li>
						<li>
							<a href="/auctions/page/1/">Auctions</a>
						</li>
						<li>
							<a href="{% url 'about_view' %}">About</a>
						</li>
					</ul>
					<ul class="nav pull-right">
						{% if user.is_authenticated %}
						<li>
							<a href="{% url 'logout_view' %}">Sign out</a>
						</li>
						{% else %}
						<li>
							<a href="{% url 'login_view' %}">Sign in</a>
						</li>
						{% endif %}
					</ul>
					{% if user.is_authenticated %}
					<p class="navbar-text pull-right"> <i class="icon-user icon-white"></i>
						{{ user.username }}
					</p>
					{% endif %}
				</div>
				<!--/.nav-collapse -->

			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				{% block content %}
				{% endblock%}
			</div>
			<!--/span-->
		</div>
		<!--/row-->
		<hr>
		<footer>
			<p>&copy; Open Project 2013</p>
		</footer>
	</div>
	<!--/.fluid-container-->

	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{{STATIC_URL}}js/jquery.js"></script>
	<script src="{{STATIC_URL}}bootstrap/js/bootstrap.js"></script>
</body>
</html>